svg.home__blue-blob {
	position: fixed;
	top: -35px;
	right: -520px;
	height: 100%;
	width: 100%;
	z-index: -1;
}

@media screen and (max-width: 96em) {
	svg.home__blue-blob {
		top: -50px;
		right: -420px;
	}
}

svg.home__footer-blob {
	position: fixed;
	top: 250px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

svg.home__computer-man {
	position: fixed;
	top: 354px;
	right: 407px;
	z-index: -1;
}

@media screen and (max-width: 96em) {
	svg.home__computer-man {
		top: 240px;
		right: 275px;
		width: 435px;
		height: 254px;
	}
}

svg.home__profile-card {
	position: fixed;
	top: 230px;
	right: 355px;
	z-index: -1;
}

@media screen and (max-width: 96em) {
	svg.home__profile-card {
		width: 250px;
		height: 95px;
		top: 170px;
		right: 290px;
	}
}

svg.home__posting-woman {
	position: fixed;
	top: 475px;
	right: 95px;
	z-index: -1;
}

@media screen and (max-width: 96em) {
	svg.home__posting-woman {
		top: 370px;
		right: 100px;
		width: 315px;
		height: 200px;
	}
}

span.logo__text {
	font-weight: 800;
	font-size: 55px;
	line-height: 55px;
}
